<!DOCTYPE html>
<html lang="en">
  <head>
    <title>RRC</title>
  </head>
  <body>
    <div>
        <input 
          type="range" 
          id="speed" 
          name="speed"
          min="0" 
          max="256" 
          value="128" />
    </div>
    <div>
        <input 
          type="range" 
          id="turn" 
          name="turn"
          min="0" 
          max="256" 
          value="128" />
    </div>

    <script src="/static/js/socket.io.min.js"></script>
    <script src="/static/js/main.js"></script>
  </body>
</html>
